body {
    font-family: "Roboto", sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20rem;
}

#searchButton {
    margin-top: 1rem;
    width: 5rem;
}

#resultList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 20rem;
    width: 50%;
}

.listItem {
    margin-bottom: 1rem;
}